*/*
!*/src/
!*/data/
!*/bests/
!*/trained_models/
*/trained_models/*
!dnn_and_xgboost/trained_models/.gitkeep
*/src/*.pyc
*/src/.~*
*/src/__*

!results/bests/

!data/.gitkeep

*/src/.ipynb_checkpoints/

trained_models/
!trained_models/pcvr_model_last.h5

nohup*
